# Artefatos de compilação
target/
build/
out/
*.jar
*.war

# Configurações da IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Controle de versão
.git/
.gitignore

# Arquivos temporários e logs
.env
*.log

# Ferramentas de build
.mvn/
mvnw
mvnw.cmd